	<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv= "X-UA-Compatible" content= "IE=edge" />
	<meta name="viewport" content= "width=device-width, initial-scale = 1, shrink-to-fit=no" />
	   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="sortcut icon" href="img/icon.png" type="image/png" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
	<title>Idealizadores</title>
	
</head>
<body>
	<div layout:fragment = "corpo">
	
	
        <div class="nada"></div>
            <div class="inner-width">
                <div class="profiles-screen">
                    <div class="profile-card">
                        <div class="profile-img">
                            <img src="img/pfp-ariane.jpg" alt="">
                        </div>
                        <div class="profile-about">
                            <h3>Ariane Selli</h3>
                            <h4>Empreendedora</h4>
                        </div>
                        <div class="profile-social-media">
                            <a href="https://www.facebook.com/arianeselli.melodesouza" target="_blank" class="curriculo"><i class="fab fa-facebook"></i><p>Facebook</p></a>
                            <a href="https://www.instagram.com/arianeselli/" target="_blank" class="curriculo"><i class="fab fa-instagram"></i><p>Instagram</p></a>
                            <a href="https://github.com/arianeselli" target="_blank" class="curriculo"><i class="fab fa-github"></i><p>GitHub</p></a>
                        </div>
                        <div class="profile-contact ">
                            <a href="https://api.whatsapp.com/send?phone=5584987881207&text=Hello%2C%20Hello%2C%20my%20baby!" target="_blank " class="link "><i class="fab fa-whatsapp"></i> WhatsApp </a>
                        </div>
                        <div class="profile-text">
                            <p> </p>
                        </div>
                    </div>
            
            
                    <div class="profile-card ">
                        <div class="profile-img ">
                            <img src="img/pfp-luiz.jpg " alt=" ">
                        </div>
                        <div class="profile-about ">
                            <h3>Luiz Felipe</h3>
                            <h4>Dev Front-End Jr.</h4>
                        </div>
                        <div class="profile-social-media ">
                            <a href="https://www.facebook.com/luizfelipe.souza.1004837/" target="_blank " class="curriculo "><i class="fab fa-facebook"></i><p>Facebook</p></a>
                            <a href="https://www.instagram.com/iluixfelipe/" target="_blank " class="curriculo "><i class="fab fa-instagram"></i><p>Instagram</p></a>
                            <a href="https://github.com/iLuix-Felipe" class="curriculo"><i class="fab fa-github"></i><p>GitHub</p></a>
                        </div>
                        <div class="profile-contact ">
                            <a href="https://api.whatsapp.com/send?phone=5584991663152&text=Hi%20There!" target="_blank " class="link "><i class="fab fa-whatsapp"></i> WhatsApp </a>
                        </div>
                        <div class="profile-text ">
                            <p></p>
                        </div>
                    </div>
                </div>
    </div>
   
   
    
    <div class="nada"></div>

  
  

    
    </div>
</body>
</html>